[Unit]
Description=Start x11vnc at startup.
After=multi-user.target
# This file will only work with lightdm

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -xkb -noxfixes -noxdamage -display :0 -auth /var/run/lightdm/root/:0 -passwd "$X11VNCPASSWD" -viewpasswd "X11VNCPASSWD" -forever -oa /var/log/x11vnc.log

[Install]
WantedBy=multi-user.target
