[unit]
Description=x11vnc service
# This file will only work with lightdm

[Service]
Type=forking
EnviromentFile=/etc/environment
ExecStart=/usr/bin/x11vnc -nap -wait 50 -noxdamage -passwd $X11VNCPASSWD -viewpasswd $X11VNCVIEWPASSWD -display :0 -auth /var/run/lightdm/root/:0 -forever -o /var/log/x11vnc.log -bg -tag root -zeroconf

[Install]
WantedBy=default.target
