[unit]
Description=x11vnc service

[Service]
Type=forking
EnvironmentFile=~/.config/systemd/user/x11vnc.env
ExecStart=x11vnc -xkb -noxfixes -noxdamage -display :0 -passwd "$X11VNCPASSWD" -viewpasswd "X11VNCPASSWD" -forever -oa ~/x11vnc.log

[Install]
WantedBy=default.target
