[unit]
Description=x11vnc service

[Service]
Type=forking
EnvironmentFile=~/.config/systemd/user/x11vnc.env
ExecStart=/usr/bin/x11vnc -nap -wait 50 -noxdamage -passwd $X11VNCPASSWD -viewpasswd $X11VNCVIEWPASSWD -display :0 -forever -o ~/x11vnc.log -bg -tag systemd user -zeroconf

[Install]
WantedBy=default.target
